input, select, textarea {
	font: 12px/1.5 Tahoma, 'Microsoft Yahei', 'Simsun';
	outline:none;
}
input[type="text"] {
	width:110px;
	padding:4px;
	border:1px solid #CDCDCD;
	border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
}
input[type="button"], input[type="submit"] {
	cursor:pointer;
	height:25px;
	line-height:22px;
	border:1px solid #c8c8c8;
	border-radius:5px;
}
input[type="button"]:hover, input[type="submit"]:hover{
	box-shadow:1px 1px 5px #ccc;
}
.input_button_down{
	position:relative;top:1px;
}


input[type="checkbox"], input[type="radio"] {
	position:relative;
	top:2px;
	left:-2px;
}
select {
	line-height:20px;
	padding:2px;
	border:1px solid #CDCDCD;
	border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
}
textarea {
	width:400px;
	height:60px;
	padding:2px 0px 0px 2px;
	border:1px solid #cdcdcd;
	border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
	overflow-y:auto;
	resize: none;
}